body{
  background-color: #CF7457;
  font-size: 18px;
  font-family: cursive, fantasy;
  color: #0000cc;
}

h1{
  font-size: 30px;
  border: 10px groove #ff0000;
  font-style: italic;
  text-align: center;
  margin: 10px;
  margin-left: 250px;
  margin-right: 250px;
}

.f1{
  font-size: 40px;
  margin: auto;
}

#word{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

ul{
  list-style: none;
}

a{
  color: #0000cc;
}

a:hover{
  color: #ff00ff;
}

.bigToSmall {
  margin-top:10px;
  margin-left:400px;
  margin-right: 50px;
  height: 180px;
  -moz-transform:rotate(90deg);
}
