.f1{
  margin: auto;
  font-size: 22px;
}

#word{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

header{
  margin-top: 50px;
}

body{
  background-color: #939E8A;
  font-size: 24px;
  color:#A13816;
}

a:hover{
  color: #ff00ff;
}

h2{
  text-align: center;
  font-size: 26px;
}

ol{
  text-align: center;

}
