body{
  background-color: #5F7278;
  text-align: center;
}

h2{
  color: #0000cc;
}

#word{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.f1{
  margin: auto;
  font-size: 22px;
}

table {
  border-collapse: collapse;
  color:#C3ABCC;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  font-size: 20px;
}

td {
  border: 3px solid #78655F;
}
a:hover{
  color: #ff00ff;
}
