body{
  text-align: center;
  background-color: #928A94;
  font-size: 30px;
  color: #101F2B;
}

ul{
  list-style: none;
}
a:hover{
  color: #ff00ff;
}

.f1{
  font-size: 30px;
  margin: auto;
}
#word{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
h2{
  font-size: 30px;
  color:  #0000cc;
}
